

/* ******************************
** HEADING
****************************** */

h1 {
    text-align: center;
    color: royalblue;
}

/* ******************************
**Question
****************************** */

#question {
    width: 70%;
    padding: 30px;
    border: 3px solid blue;
    background-color: royalblue;
    color: white;
    font-size: 28px;
    margin: 10px auto;
}

/* ***************************

** Answers 
*************************** */

#answers { 
    width: 50%;
    margin: 10px auto;
    color: white;
    background-color: rgb(46, 43, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

#answers ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

#answers ul li {
    width: 40%;
    height: 40px;
    background-color: rgb(225, 135, 32);
    padding-top: 20px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
}

/* ******************************
** ScoreBoard
****************************** */

#scores {
    display: flex;
    width: 70%;
    background-color: darkslategray;
    justify-content: center;
    margin: 10px auto;
}

#player1, #player2 {
    width: 40%;
    background-color: darkgoldenrod;
    margin: 5px;
    text-align: center;
}